<!doctype html>
<html lang="is">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Vefforritun verkefni 3</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <main class="container">
            <h1>Innskrá</h1>
            <a href="/create">Búa til notenda</a>
            <form method='post' action='/'>
            <input type="text" id='username' name='username' placeholder="Notandi">
            <input type="password" id='password' name='password' placeholder="password">
            <button class = "btn btn-primary btn-sml toggle">Innskrá</button>
            </form>
        </main>
    </body>
</html>