<!doctype html>
<html lang="is">
	<head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>Vefforritun verkefni 3</title>
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
	    <main class="container">
	    	<div class="row">
	    		<h1></h1>
	    	</div>
	    		<div class="row">
	    			<div class="list-group col-md-2">
	    				<ul class="faerslur">
           				</ul>
	    			</div>
	    			<form method='post' action='/plain'>
	    			<div class="form-group col-md-8">
	    				<input class="titill form-control" id='text' type="text" name='text' placeholder="Titill">
	    				<br>
	    				<textarea class="form-control" id="texti" rows="10" name='texti' placeholder="Kæra dagbók...">
	    				</textarea>
	    				<div class="row">
	    					<div class="col-md-3 form-group">
	    						<button type="button" class="vista glyphicon glyphicon-ok btn btn-primary btn-lg toggle"> Vista</button>
	    						<input class="hidden" value=3 name='dataid'>
	    						<button>Broskall</button>	
	    					</div>
	    					</form>
	    					<div class="col-md-2 col-md-offset-7 form-group">
	    						<form menthod='post' action='/plain'>
	    						<button type="button" class="eyda glyphicon glyphicon-remove btn btn-warning"> Eyða</button>
	    						<input class="hidden" value=2 name='dataid'>
	    						<button>Del</button>
	    					</form>
	    					</div>
	   					</div>	
	    			</div>
	    		<form action='/'>
	    			<div class="col-md-1 list-group">
	    				<strong class="total">0</strong> stafir
	    				<p></p>
	    				<strong class="rem">0</strong> orð
	    				<p></p>
	    				<button type="button" class="hreinsa glyphicon glyphicon-flash btn btn-primary btn-lg toggle">HreinsaHTML</button>
	    				<p></p>
	    				<button type="button" class="snua glyphicon glyphicon-sunglasses btn btn-primary btn-lg toggle">Snúa texta við</button>
	    				<p></p>
	    				<button>Logout</button>	
	    			</div>
	    		</form>
	    		</div>
	    	</main>
	    <script src="/javascripts/virkni.js"></script>
	</body>
</html>