<!doctype html>
<html lang="is">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Vefforritun verkefni 3</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <h1>Innskrá</h1>
            <a href="/create">Búa til notenda</a>
            <form method='post' action='/'>
            <input type="text" id='username' name='username' value="Notandi">
            <input type="text" id='password' name='password'>
            <button>Innskrá</button>
            </form>
    </body>
</html>