doctype html
html(lang='is')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Vefforritun verkefni 3
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
  body
    main.container
      .row
        h1.hidden=item
        h2.hidden=title
        h3.hidden=dat
      .row
        .list-group.col-md-2
          ul.faerslur
        form(method='post', action='/plain')
          .form-group.col-md-7
            input#text.titill.form-control(type='text', name='text', placeholder='Titill')
            br
            textarea#texti.form-control(rows='10', name='texti', placeholder='Kæra dagbók...')
            .row
              .col-md-3.form-group
                input.hidden(value='3', name='dataid')
                button.glyphicon.glyphicon-ok.btn.btn-primary.btn-lg.toggle Vista
                  form(method='post', action='/plain')
                  .col-md-offset-4.form-group
                    input.hidden(value='2', name='dataid')
                    button.glyphicon.glyphicon-remove.btn.btn-warning Eyða
      form(action='/')
        .col-md-offset-10.list-group
          strong.total 0
          |  stafir
          p
          strong.rem 0
          |  orð
          p
          button.hreinsa.glyphicon.glyphicon-flash.btn.btn-primary.btn-lg.toggle(type='button') HreinsaHTML
          p
          button.snua.glyphicon.glyphicon-sunglasses.btn.btn-primary.btn-lg.toggle(type='button') Snúa texta við
          p
          button.btn.btn-primary.btn-lg.toggle Logout
    script(src='/javascripts/virkni.js')
